# public site url 
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# postgres database url
DATABASE_URL="postgresql://postgres:password@localhost:5432/test"

#better auth 
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"


# google auth 
GOOGLE_CLIENT_ID="282752865176-xxxxxxx"
GOOGLE_CLIENT_SECRET="xxxxxx"


# llm key with api endpoint [so change any provier easly] - this time use openroutor for development
LLM_API_KEY="xxxxxxx"

# rnadom key to prevent unknow inngest trigger
INNGEST_SECRET_CODE="xxxxxx"

INNGEST_DEV="1"


# add blow  more keys

